<div class="index-container">
  <h1>INDEX LOADED</h1>
  <img src="./images/beer.png" alt="<Nikos Breakfast">
<div class="btn btn-primary">Check the Beers!</div>
<div class="btn btn-secondary">Check a Random Beer</div>

</div>